/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    height: 100vh;
    background-color: #8BC6EC;
    background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%) no-repeat center center;
    margin-bottom: 0;
}

nav {
    margin: 3vh 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #00308F;
}

.logo i {
    margin-top: 5px;
}

.container {
    width: 1100px;
    max-width: 100%;
    height: auto;
    padding: 0 5vw;
    margin: 0px auto;
}

.homepage-flex {
    display: flex;
    align-items: center;

}
.what-it-does {
    margin: 5vh 0;
    line-height: 1.5;
    width: 600px;
    max-width: 100%;
}

.what-it-does h2 {
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 10px 0;
}

.what-it-does p:nth-of-type(2) {
    padding: 10px 0;
}
.phone-container{
    background: rgba(255, 255, 255, 0.164);
    border-radius: 10px;
    margin: 50px 0;
    padding: 10px;
    width: 400px;
    max-width: 100%;
}

.phone-form{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 0 20px;
    height: 180px;
    margin: 0;
}

.phone-form-container {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    border: none;
    background-color: white;
    border-radius: 5px;
    min-height: 40px;
}

.mobile-number-container, .service-provider{
    padding: 0px;
    border-radius: 5px;
    margin: 0px 2px;
}

.mobile-number-container{
    flex-grow: 3;
}

.hr-divider{
    background-color: #00308F;
    padding: 1px;
    margin: 3px;
    flex-grow:0;
    border-radius:5px;
}

.service-provider{
    flex-grow:2;
}

.mobile-number{
    outline-style: none;
    border: none;
}

.submit-button, .mobile-number{
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
}

.submit-button{
    background-color:#eee;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-delay: 0s;
    font-family: 'Lato';
    font-size: 1em;
}

.submit-button:hover{
   background: #00308F;     
   border:1px solid gray;
   color:white;
}

@media only screen and (max-width:528px){
    .homepage-flex {
        flex-direction: column;
    }
    .what-it-does {
        text-align: center;
    }
   } 